*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: slategray;    
}

.navbar 
{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    background-size: cover;
    background-color: darkgray;
    color: white;
    padding: 10px 20px;
}        

.nav-list 
{
    display: flex;        
    list-style: none;        
}

.nav-list li 
{
    margin-right: 20px;
}

.nav-list li:last-child 
{
    margin-right: 0;
}

.nav-list li a 
{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.nav-list li a:hover 
{
    color: blue;
}

.rightNav 
{
    text-align: right;
}

.auth 
{
    padding: 8px;        
    font-size: 16px;        
    border: 2px solid #fff;       
    border-radius: 5px;
}        

.auth .btn-login,
.auth .btn-signup 
{
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

.btn-login 
{
    background: darkblue;
    color: white;
}

.btn-login:hover 
{
    background: blue;
}

.btn-signup 
{
  background: darkblue;
  color: white;
}

.btn-signup:hover 
{
  background: blue;
}

.btn 
{
    background-color: darkblue;
    color: whitw;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover 
{
    background-color: blue;
    color: lavender;
}

header 
{
    background: darkgray;
    color: white;
    padding: 8px 12px;
}

.hero-section 
{
  text-align: center;
  padding: 50px 20px;
  background: white;
}

.hero-section h1 
{
  margin-bottom: 20px;
  color: darkblue;
}

.hero-section p 
{
  margin-bottom: 20px;
}

.hero-section button 
{
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  background: darkblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hero-section button:hover 
{
  background: blue;
}

.hero-section img 
{
  margin-top: 20px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

.features 
{
  display: grid;
  gap: 20px;
  padding: 20px 16px;
}

.features div 
{
  background: white;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.features h2 
{
  margin-bottom: 0.5rem;
  color: darkblue;
}

#todo-widget 
{
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#todo-widget h2 
{
  text-align: center;
  margin-bottom: 10px;
  color: darkblue;
}

#taskInput 
{
  width: 70%;
  padding: 5px;
  margin-right: 5px;
}

#addBtn 
{
  padding: 6px 12px;
  cursor: pointer;
  background-color: darkblue;
  border: none;
  color: white;
  border-radius: 4px;
}

#addBtn:hover 
{
  background-color: blue;
}

#taskList 
{
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

#taskList li 
{
  padding: 6px;
  margin-bottom: 5px;
  background: #fff;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#taskList button 
{
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#taskList button:hover 
{
  background-color: darkred;
}

#filterBtn, 
#showAllBtn 
{
  background-color: darkblue;
  color: white;
  border: none;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

#filterBtn:hover, 
#showAllBtn:hover 
{
  background-color: blue;
}

footer 
{
  text-align: center;
  padding: 20px;
  background: slategrey;
  color: white;
  margin-top: 50px;
}

.hamburger 
{
  display: none; 
  font-size: 20px;
  background: none;
  border: 1px;
  cursor: pointer;
}

.contact-section
{
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.contact-section h2
{
  margin-bottom: 20px;
  color: darkblue;
}

#contactForm 
{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#contactForm button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: darkblue;
  color: white;
  cursor: pointer;
}

#contactForm button:hover {
  background: blue;
}

@media (max-width: 768px) 
{
  .navbar 
  {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-list 
  {
    display: none;
    flex-direction: column;
    top: 60px; 
    left: 0;
    width: 100%;
    padding: 20px;
  }
  .nav-list.active
  {
    display: flex;
  } 

  .hamburger
  {
    display: block; 
  }

  .nav-list li 
  {
    margin: 10px 0;
  }

  .auth 
  {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
